@charset "UTF-8";

@use '../../../config' as config;
@use '../../../core/cssex/box-sizing' as *;
@use '../../../core/utility/map/map-deep-get' as *;

@use 'mixin/make-container' as *;
@use 'mixin/make-container-max-widths' as *;
@use 'mixin/make-row' as *;
@use 'mixin/make-grid-columns' as *;

@use 'function/assert-ascending' as *;
@use 'function/assert-starts-at-zero' as *;

/// Миксин `make-grid-v3` позволяет сгенерировать сетку Bootstrap Grid,
/// написанную на Sass. По умолчанию используется 12-ти колононая
/// система.
/// ---
/// @name make-grid-v3
/// @group grid-v3
/// @since 8.1.0
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v3.3.6/_index.scss Исходный код миксина
/// @example scss Пример использования в Sass (SCSS)
/// 	@include make-grid-v3();
/// @example css Результат работы миксина в CSS
/// 	/* ... очень много CSS-кода */
/// @param {boolean} $write-copyright [true] - параметр отвечает за
/// 	генерацию CSS-комментария с копирайтом проекта Bootstrap.
@mixin make-grid-v3($write-copyright: true) {

	// Генерация CSS-комментария с копирайтом проекта
	// Bootstrap:
	@if $write-copyright == true {
		/*!
		 * Bootstrap Grid v3.3.6 (https://getbootstrap.com/)
		 * Copyright 2011-2023 The Bootstrap Authors
		 * Copyright 2023 Haba Kudzaev (therteenten)
		 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
		 */
	}

	// Минимальный ресет:
	@include -minimal-reset();

	// Генерация классов `.container`
	.#{map-deep-get(config.$dvalues--grid-v3-class-naming, 'container')} {
		@include make-container();
		@include make-container-max-widths();
	}

	// Генерация классов `.container-fluid`
	.#{map-deep-get(config.$dvalues--grid-v3-class-naming, 'container-fluid')} {
		@include make-container();
	}

	// Генерация классов `.row`
	.#{map-deep-get(config.$dvalues--grid-v3-class-naming, 'row')} {
		@include make-row();
	}

	@include -create-no-gutters();

	@include make-grid-columns();
	@include assert-starts-at-zero(config.$dvalues--grid-v3-breakpoints, "$dvalues--grid-v3-breakpoints");
	@include assert-ascending(config.$dvalues--grid-v3-breakpoints, "$dvalues--grid-v3-breakpoints");
	@include assert-ascending(config.$dvalues--grid-v3-container-max-widths, "$dvalues--grid-v3-container-max-widths");

}

/// Миксин генерирует ну очень простой ресет.
/// ---
/// @name -minimal-reset
/// @group grid-v3
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v3.3.6/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
@mixin -minimal-reset() {
	@if config.$dvalues--grid-v3-minimal-reset == true {
		*,
		*::before,
		*::after {
			padding: 0;
			margin: 0;
			@include box-sizing(border-box);
		}
	}
}


/// Микисн `-create-no-gutters` генерирует CSS-классы
/// `no-gutters`.
/// ---
/// @name -create-no-gutters
/// @group grid-v3
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v3.3.6/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
@mixin -create-no-gutters() {

	@if config.$dvalues--grid-v3-create-class__no-gutters == true {

		.no-gutters {
			margin-right: 0;
			margin-left: 0;

			> .#{map-deep-get(config.$dvalues--grid-v3-class-naming, 'col')},
			> [class*="#{map-deep-get(config.$dvalues--grid-v3-class-naming, 'col')}-"] {
				padding-right: 0;
				padding-left: 0;
			}

		}

	}

}

/// Микисн `grid-init` является фолбеком для миксина `make-grid-v3`.
/// ---
/// @deprecated Миксин будет удален примерно через пару мажорных версий. Используйте `make-grid-v3`!
/// @name grid-init
/// @group grid-v3
/// @since 8.1.1
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v3.3.6/_index.scss Исходный код миксина
/// @param {boolean} $write-copyright [true] - параметр отвечает за
/// 	генерацию CSS-комментария с копирайтом проекта Bootstrap.
@mixin grid-init($write-copyright: true) {

	$-deprecated-message-title: 'Миксин `grid-init` является устаревшим.';
	$-deprecated-message: 'Необходимо переименовать в местах использования `grid-init` на `make-grid-v3`.';

	/*! DEPRECATED: #{$-deprecated-message-title}
	 *  #{$-deprecated-message} */

	@warn '#{$-deprecated-message-title} #{$-deprecated-message}';

	@include make-grid-v3($write-copyright);

}
