@use 'sass:map';

/// @name breakpoint-next
/// @group grid-v3
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v3.3.6/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @param {string} $name
/// @param {map} $breakpoints [$dvalues--grid-v3-breakpoints]
/// @param {map} $$breakpoint-names [map-keys($breakpoints)]
@function breakpoint-next(
	$name,
	$breakpoints: $dvalues--grid-v3-breakpoints,
	$breakpoint-names: map-keys($breakpoints)) {

	$-n: index($breakpoint-names, $name);

	@return if(
		$-n != null and $-n < length($breakpoint-names),
		nth($breakpoint-names, $-n + 1),
		null
	);

}
