@use 'sass:math';
@use '../../../../config' as config;

/// @name make-container
/// @group grid
/// @since 8.1.1
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/main/common/grid Sassify Grid GitHub
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @param {number} $gutter [config.$dvalues--grid-gutter-width]
@mixin make-container($gutter: config.$dvalues--grid-gutter-width) {
	width: 100%;
	padding-right: $gutter * .5;
	padding-left: $gutter * .5;
	margin-right: auto;
	margin-left: auto;
}
