@use "sass:math";

/// @name make-col-ready
/// @group Grid
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @param {number} $gutter [$dvalues--grid-gutter-width]
@mixin make-col-ready($gutter: $dvalues--grid-gutter-width) {

	position: relative;

	// Prevent columns from becoming too narrow when at smaller grid tiers by
	// always setting `width: 100%;`. This works because we use `flex` values
	// later on to override this initial width.
	width: 100%;
	padding-right: $gutter * 0.5;
	padding-left: $gutter * 0.5;

}
