/// @name dvalues--flexbox
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--flexbox: default !default;

/// @name dvalues--flex-wrap
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--flex-wrap: nowrap !default;

/// @name dvalues--flex-wrap__support-ie
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type boolean
$dvalues--flex-wrap__support-ie: false !default;

/// @name dvalues--flex-shrink
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--flex-shrink: 1 !default;

/// @name dvalues--flex-grow
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--flex-grow: 0 !default;

/// @name dvalues--flex-flow
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--flex-flow: (row nowrap) !default;

/// @name dvalues--flex-direction
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--flex-direction: row !default;

/// @name dvalues--flex-basis
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--flex-basis: auto !default;

/// @name dvalues--brakepoints
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type map
/// @prop {string} $dvalues--brakepoints.xs [(min-width: 0)]
/// @prop {string} $dvalues--brakepoints.sm [(min-width: 576px)]
/// @prop {string} $dvalues--brakepoints.md [(min-width: 768px)]
/// @prop {string} $dvalues--brakepoints.lg [(min-width: 992px)]
/// @prop {string} $dvalues--brakepoints.xl [(min-width: 1200px)]
/// @prop {string} $dvalues--brakepoints.xxl [(min-width: 1400px)]
/// @prop {string} $dvalues--brakepoints.max-xs [(max-width: 0)]
/// @prop {string} $dvalues--brakepoints.max-sm [(max-width: 576px)]
/// @prop {string} $dvalues--brakepoints.max-md [(max-width: 768px)]
/// @prop {string} $dvalues--brakepoints.max-lg [(max-width: 992px)]
/// @prop {string} $dvalues--brakepoints.max-xl [(max-width: 1200px)]
/// @prop {string} $dvalues--brakepoints.max-xxl [(max-width: 1400px)]
$dvalues--brakepoints: (
	xs: '(min-width: 0)',
	sm: '(min-width: 576px)',
	md: '(min-width: 768px)',
	lg: '(min-width: 992px)',
	xl: '(min-width: 1200px)',
	xxl: '(min-width: 1400px)',
	max-xs: '(max-width: 0)',
	max-sm: '(max-width: 576px)',
	max-md: '(max-width: 768px)',
	max-lg: '(max-width: 992px)',
	max-xl: '(max-width: 1200px)',
	max-xxl: '(max-width: 1400px)'
) !default;

/// @name dvalues--text-shorten
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--text-shorten: none !default;

/// @name dvalues--illogical-usage-message_mode
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type list
$dvalues--illogical-usage-message_mode: 'console', 'comment' !default;

/// @name dvalues--line-clamp
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--line-clamp: none !default;

/// @name dvalues--box-sizing
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--box-sizing: content-box !default;

/// @name dvalues--media-prefers-contrast
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--media-prefers-contrast: no-preference !default;

/// @name dvalues--transform-style
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--transform-style: flat !default;

/// @name dvalues--transform-origin_x
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--transform-origin_x: 50% !default;

/// @name dvalues--transform-origin_y
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--transform-origin_y: 50% !default;

/// @name dvalues--transform-origin_z
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--transform-origin_z: 0 !default;

/// @name dvalues--transition-timing-function
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--transition-timing-function: ease !default;

/// @name dvalues--transition-property
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--transition-property: all !default;

/// @name dvalues--transition-duration
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--transition-duration: 0s !default;

/// @name dvalues--transition-delay
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--transition-delay: 0s !default;

/// С этой переменной сложились проблемы, т.к. непонятно
/// как быть с тем, что миксин принимает в качестве функции
/// множественный аргумент (или как он там называется) и написать
/// что-то типа `$params...: $dvalues--transition` не получится.
///
/// Я попробую в будущем это как-то решить, но пока эта
/// переменная не работает.
/// ---
/// @ignore
/// @name dvalues--transition
/// @group Default Values
/// @since 7.0.0
/// @access private
/// @type list
$-dvalues--transition: all 0s ease 0s !default;

/// Значение по умолчанию для миксина `opacity`. Значение регулирует
/// поддержку CSS-свойства `opacity` для браузера Internet Explorer.
/// ---
/// @name dvalues--border-radius
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--border-radius: 0 !default;

/// Значение по умолчанию для миксина `opacity`. Значение регулирует
/// поддержку CSS-свойства `opacity` для браузера Internet Explorer.
/// ---
/// @name dvalues--opacity__support-ie
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type boolean
$dvalues--opacity__support-ie: false !default;

/// Значение по умолчанию для CSS-свойства `position`
/// ---
/// @name dvalues--position
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--position: static !default;

/// Значение `$side` для миксина `position-sticky`
/// ---
/// @name dvalues--position-sticky__side
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--position-sticky__side: top !default;

/// Значение `$side-offset` для миксина `position-sticky`
/// ---
/// @name dvalues--position-sticky__side-offset
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--position-sticky__side-offset: 0 !default;

/// Значение по умолчанию для CSS-свойства `tab-size`
/// ---
/// @name dvalues--tab-size
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--tab-size: 8 !default;

/// Размер блока для миксина `visually-hidden`
/// ---
/// @name dvalues--visually-hidden__size
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type number
$dvalues--visually-hidden__size: 1px !default;

/// Режим работы миксина `size`
/// ---
/// @name dvalues--size__mode
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--size__mode: normal !default;

/// Добавлять префиксы не к CSS-свойству, а к его значению?
/// ---
/// @name dvalues--prefixer__prefix-value
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type boolean
$dvalues--prefixer__prefix-value: false !default;

/// Сохранять исходный вариант CSS-свойтсва без браузерного префикса?
/// ---
/// @name dvalues--prefixer__save-unprefixed-property
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type boolean
$dvalues--prefixer__save-unprefixed-property: true !default;

/// Значение CSS-свойства `user-select` по умолчанию
/// ---
/// @name dvalues--user-select
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--user-select: auto !default;

/// Префикс для атрибута
/// ---
/// @name dvalues--amcss__prefix
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type string
$dvalues--amcss__prefix: 'am-' !default;

/// Настройка миксинов `bem-block`, `bem-element` и
/// `bem-modifier`.
/// ---
/// @name dvalues--bem
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type map
/// @prop {string} $dvalues--bem.element  ['__'] - разделитель для элемента
/// @prop {string} $dvalues--bem.modifier  ['--'] - разделитель для модификатора
$dvalues--bem: (
	element: '__',
	modifier: '--'
) !default;

/// @name dvalues--url-encode__characters
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type map
$dvalues--url-encode__characters: (
	'!': '%21',
	'#': '%23',
	'$': '%24',
	'&': '%26',
	'\'': '%27',
	'(': '%28',
	')': '%29',
	'*': '%2A',
	'+': '%2B',
	',': '%2C',
	'/': '%2F',
	':': '%3A',
	';': '%3B',
	'=': '%3D',
	'?': '%3F',
	'@': '%40',
	' [': '%5B',
	']': '%5D',
	'"': '%22' // В случае, если результат заключен в двойные кавычки
) !default;

/// @name dvalues--set-initial
/// @group Default Values
/// @since 7.0.0
/// @access public
/// @type map
/// @prop {string} $dvalues--set-initial.align-content ['normal']
/// @prop {string} $dvalues--set-initial.align-items ['normal']
/// @prop {string} $dvalues--set-initial.align-self ['auto']
/// @prop {list} $dvalues--set-initial.animation ['none 0s ease 0s 1 normal none running']
/// @prop {time} $dvalues--set-initial.animation-delay ['0s']
/// @prop {string} $dvalues--set-initial.animation-direction ['normal']
/// @prop {time} $dvalues--set-initial.animation-duration ['0s']
/// @prop {string} $dvalues--set-initial.animation-fill-mode ['none']
/// @prop {number} $dvalues--set-initial.animation-iteration-count ['1']
/// @prop {string} $dvalues--set-initial.animation-name ['none']
/// @prop {string} $dvalues--set-initial.animation-play-state ['running']
/// @prop {string} $dvalues--set-initial.animation-timing-function ['ease']
/// @prop {string} $dvalues--set-initial.backface-visibility ['visible']
/// @prop {list} $dvalues--set-initial.background ['transparent none repeat 0 0 / auto auto padding-box border-box scroll']
/// @prop {string} $dvalues--set-initial.background-attachment ['scroll']
/// @prop {string} $dvalues--set-initial.background-blend-mode ['normal']
/// @prop {string} $dvalues--set-initial.background-clip ['border-box']
/// @prop {string} $dvalues--set-initial.background-color ['transparent']
/// @prop {string} $dvalues--set-initial.background-image ['none']
/// @prop {string} $dvalues--set-initial.background-origin ['padding-box']
/// @prop {list} $dvalues--set-initial.background-position ['0% 0%']
/// @prop {string} $dvalues--set-initial.background-repeat ['repeat']
/// @prop {list} $dvalues--set-initial.background-size ['auto auto']
/// @prop {string} $dvalues--set-initial.block-size ['auto']
/// @prop {list} $dvalues--set-initial.border ['medium none currentColor']
/// @prop {list} $dvalues--set-initial.border-block ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-block-color ['currentColor']
/// @prop {list} $dvalues--set-initial.border-block-end ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-block-end-color ['currentColor']
/// @prop {string} $dvalues--set-initial.border-block-end-style ['none']
/// @prop {string} $dvalues--set-initial.border-block-end-width ['medium']
/// @prop {list} $dvalues--set-initial.border-block-start ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-block-start-color ['currentColor']
/// @prop {string} $dvalues--set-initial.border-block-start-style ['none']
/// @prop {string} $dvalues--set-initial.border-block-start-width ['medium']
/// @prop {string} $dvalues--set-initial.border-block-style ['none']
/// @prop {string} $dvalues--set-initial.border-block-width ['medium']
/// @prop {list} $dvalues--set-initial.border-bottom ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-bottom-color ['currentColor']
/// @prop {number} $dvalues--set-initial.border-bottom-left-radius ['0']
/// @prop {number} $dvalues--set-initial.border-bottom-right-radius ['0']
/// @prop {string} $dvalues--set-initial.border-bottom-style ['none']
/// @prop {string} $dvalues--set-initial.border-bottom-width ['medium']
/// @prop {string} $dvalues--set-initial.border-collapse ['separate']
/// @prop {string} $dvalues--set-initial.border-color ['currentColor']
/// @prop {number} $dvalues--set-initial.border-end-end-radius ['0']
/// @prop {number} $dvalues--set-initial.border-end-start-radius ['0']
/// @prop {list} $dvalues--set-initial.border-image ['none 100% / 1 / 0 stretch']
/// @prop {number} $dvalues--set-initial.border-image-outset ['0']
/// @prop {string} $dvalues--set-initial.border-image-repeat ['stretch']
/// @prop {number} $dvalues--set-initial.border-image-slice ['100%']
/// @prop {string} $dvalues--set-initial.border-image-source ['none']
/// @prop {number} $dvalues--set-initial.border-image-width ['1']
/// @prop {list} $dvalues--set-initial.border-inline ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-inline-color ['currentColor']
/// @prop {list} $dvalues--set-initial.border-inline-end ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-inline-end-color ['currentColor']
/// @prop {string} $dvalues--set-initial.border-inline-end-style ['none']
/// @prop {string} $dvalues--set-initial.border-inline-end-width ['medium']
/// @prop {list} $dvalues--set-initial.border-inline-start ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-inline-start-color ['currentColor']
/// @prop {string} $dvalues--set-initial.border-inline-start-style ['none']
/// @prop {string} $dvalues--set-initial.border-inline-start-width ['medium']
/// @prop {string} $dvalues--set-initial.border-inline-style ['none']
/// @prop {string} $dvalues--set-initial.border-inline-width ['medium']
/// @prop {list} $dvalues--set-initial.border-left ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-left-color ['currentColor']
/// @prop {string} $dvalues--set-initial.border-left-style ['none']
/// @prop {string} $dvalues--set-initial.border-left-width ['medium']
/// @prop {number} $dvalues--set-initial.border-radius ['0']
/// @prop {list} $dvalues--set-initial.border-right ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-right-color ['currentColor']
/// @prop {string} $dvalues--set-initial.border-right-style ['none']
/// @prop {string} $dvalues--set-initial.border-right-width ['medium']
/// @prop {number} $dvalues--set-initial.border-spacing ['0']
/// @prop {number} $dvalues--set-initial.border-start-end-radius ['0']
/// @prop {number} $dvalues--set-initial.border-start-start-radius ['0']
/// @prop {string} $dvalues--set-initial.border-style ['none']
/// @prop {list} $dvalues--set-initial.border-top ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.border-top-color ['currentColor']
/// @prop {number} $dvalues--set-initial.border-top-left-radius ['0']
/// @prop {number} $dvalues--set-initial.border-top-right-radius ['0']
/// @prop {string} $dvalues--set-initial.border-top-style ['none']
/// @prop {string} $dvalues--set-initial.border-top-width ['medium']
/// @prop {string} $dvalues--set-initial.border-width ['medium']
/// @prop {string} $dvalues--set-initial.bottom ['auto']
/// @prop {string} $dvalues--set-initial.box-decoration-break ['slice']
/// @prop {string} $dvalues--set-initial.box-shadow ['none']
/// @prop {string} $dvalues--set-initial.box-sizing ['content-box']
/// @prop {string} $dvalues--set-initial.break-after ['auto']
/// @prop {string} $dvalues--set-initial.break-before ['auto']
/// @prop {string} $dvalues--set-initial.break-inside ['auto']
/// @prop {string} $dvalues--set-initial.caption-side ['top']
/// @prop {string} $dvalues--set-initial.caret-color ['auto']
/// @prop {string} $dvalues--set-initial.clear ['none']
/// @prop {string} $dvalues--set-initial.clip ['auto']
/// @prop {string} $dvalues--set-initial.clip-path ['none']
/// @prop {string} $dvalues--set-initial.color ['null']
/// @prop {string} $dvalues--set-initial.color-adjust ['economy']
/// @prop {string} $dvalues--set-initial.column-count ['auto']
/// @prop {string} $dvalues--set-initial.column-fill ['balance']
/// @prop {string} $dvalues--set-initial.column-gap ['normal']
/// @prop {list} $dvalues--set-initial.column-rule ['medium none currentColor']
/// @prop {string} $dvalues--set-initial.column-rule-color ['currentColor']
/// @prop {string} $dvalues--set-initial.column-rule-style ['none']
/// @prop {string} $dvalues--set-initial.column-rule-width ['medium']
/// @prop {string} $dvalues--set-initial.column-span ['none']
/// @prop {string} $dvalues--set-initial.column-width ['auto']
/// @prop {string} $dvalues--set-initial.columns ['auto']
/// @prop {string} $dvalues--set-initial.content ['normal']
/// @prop {string} $dvalues--set-initial.counter-increment ['none']
/// @prop {string} $dvalues--set-initial.counter-reset ['none']
/// @prop {string} $dvalues--set-initial.cursor ['auto']
/// @prop {string} $dvalues--set-initial.direction ['ltr']
/// @prop {string} $dvalues--set-initial.display ['inline']
/// @prop {string} $dvalues--set-initial.empty-cells ['show']
/// @prop {string} $dvalues--set-initial.filter ['none']
/// @prop {list} $dvalues--set-initial.flex ['0 1 auto']
/// @prop {string} $dvalues--set-initial.flex-basis ['auto']
/// @prop {string} $dvalues--set-initial.flex-direction ['row']
/// @prop {list} $dvalues--set-initial.flex-flow ['row nowrap']
/// @prop {number} $dvalues--set-initial.flex-grow ['0']
/// @prop {number} $dvalues--set-initial.flex-shrink ['1']
/// @prop {string} $dvalues--set-initial.flex-wrap ['nowrap']
/// @prop {string} $dvalues--set-initial.float ['none']
/// @prop {string} $dvalues--set-initial.font ['null']
/// @prop {string} $dvalues--set-initial.font-family ['null']
/// @prop {string} $dvalues--set-initial.font-feature-settings ['normal']
/// @prop {string} $dvalues--set-initial.font-kerning ['auto']
/// @prop {string} $dvalues--set-initial.font-language-override ['normal']
/// @prop {string} $dvalues--set-initial.font-optical-sizing ['auto']
/// @prop {string} $dvalues--set-initial.font-size ['medium']
/// @prop {string} $dvalues--set-initial.font-size-adjust ['none']
/// @prop {string} $dvalues--set-initial.font-stretch ['normal']
/// @prop {string} $dvalues--set-initial.font-style ['normal']
/// @prop {list} $dvalues--set-initial.font-synthesis ['weight style']
/// @prop {string} $dvalues--set-initial.font-variant ['normal']
/// @prop {string} $dvalues--set-initial.font-variant-alternates ['normal']
/// @prop {string} $dvalues--set-initial.font-variant-caps ['normal']
/// @prop {string} $dvalues--set-initial.font-variant-east-asian ['normal']
/// @prop {string} $dvalues--set-initial.font-variant-ligatures ['normal']
/// @prop {string} $dvalues--set-initial.font-variant-numeric ['normal']
/// @prop {string} $dvalues--set-initial.font-variant-position ['normal']
/// @prop {string} $dvalues--set-initial.font-weight ['normal']
/// @prop {string} $dvalues--set-initial.gap ['normal']
/// @prop {string} $dvalues--set-initial.grid-area ['auto']
/// @prop {string} $dvalues--set-initial.grid-auto-columns ['auto']
/// @prop {string} $dvalues--set-initial.grid-auto-flow ['row']
/// @prop {string} $dvalues--set-initial.grid-auto-rows ['auto']
/// @prop {string} $dvalues--set-initial.grid-column ['auto']
/// @prop {string} $dvalues--set-initial.grid-column-end ['auto']
/// @prop {string} $dvalues--set-initial.grid-column-start ['auto']
/// @prop {string} $dvalues--set-initial.grid-gap ['normal']
/// @prop {string} $dvalues--set-initial.grid-row ['auto']
/// @prop {string} $dvalues--set-initial.grid-row-end ['auto']
/// @prop {string} $dvalues--set-initial.grid-row-start ['auto']
/// @prop {string} $dvalues--set-initial.grid-template ['none']
/// @prop {string} $dvalues--set-initial.grid-template-areas ['none']
/// @prop {string} $dvalues--set-initial.grid-template-columns ['none']
/// @prop {string} $dvalues--set-initial.grid-template-rows ['none']
/// @prop {string} $dvalues--set-initial.hanging-punctuation ['none']
/// @prop {string} $dvalues--set-initial.height ['auto']
/// @prop {string} $dvalues--set-initial.hyphens ['manual']
/// @prop {number} $dvalues--set-initial.image-orientation ['0deg']
/// @prop {string} $dvalues--set-initial.image-rendering ['auto']
/// @prop {string} $dvalues--set-initial.inline-size ['auto']
/// @prop {string} $dvalues--set-initial.inset ['auto']
/// @prop {string} $dvalues--set-initial.inset-block ['auto']
/// @prop {string} $dvalues--set-initial.inset-block-end ['auto']
/// @prop {string} $dvalues--set-initial.inset-block-start ['auto']
/// @prop {string} $dvalues--set-initial.inset-inline ['auto']
/// @prop {string} $dvalues--set-initial.inset-inline-end ['auto']
/// @prop {string} $dvalues--set-initial.inset-inline-start ['auto']
/// @prop {string} $dvalues--set-initial.isolation ['auto']
/// @prop {string} $dvalues--set-initial.justify-content ['normal']
/// @prop {string} $dvalues--set-initial.justify-items ['legacy']
/// @prop {string} $dvalues--set-initial.justify-self ['auto']
/// @prop {string} $dvalues--set-initial.left ['auto']
/// @prop {string} $dvalues--set-initial.letter-spacing ['normal']
/// @prop {string} $dvalues--set-initial.line-break ['auto']
/// @prop {string} $dvalues--set-initial.line-height ['normal']
/// @prop {list} $dvalues--set-initial.list-style ['disc none outside']
/// @prop {string} $dvalues--set-initial.list-style-image ['none']
/// @prop {string} $dvalues--set-initial.list-style-position ['outside']
/// @prop {string} $dvalues--set-initial.list-style-type ['disc']
/// @prop {number} $dvalues--set-initial.margin ['0']
/// @prop {number} $dvalues--set-initial.margin-block ['0']
/// @prop {number} $dvalues--set-initial.margin-block-end ['0']
/// @prop {number} $dvalues--set-initial.margin-block-start ['0']
/// @prop {number} $dvalues--set-initial.margin-bottom ['0']
/// @prop {number} $dvalues--set-initial.margin-inline ['0']
/// @prop {number} $dvalues--set-initial.margin-inline-end ['0']
/// @prop {number} $dvalues--set-initial.margin-inline-start ['0']
/// @prop {number} $dvalues--set-initial.margin-left ['0']
/// @prop {number} $dvalues--set-initial.margin-right ['0']
/// @prop {number} $dvalues--set-initial.margin-top ['0']
/// @prop {list} $dvalues--set-initial.mask ['none center / auto no-repeat border-box add match-source']
/// @prop {string} $dvalues--set-initial.mask-clip ['border-box']
/// @prop {string} $dvalues--set-initial.mask-composite ['add']
/// @prop {string} $dvalues--set-initial.mask-image ['none']
/// @prop {string} $dvalues--set-initial.mask-mode ['match-source']
/// @prop {string} $dvalues--set-initial.mask-origin ['border-box']
/// @prop {string} $dvalues--set-initial.mask-position ['center']
/// @prop {string} $dvalues--set-initial.mask-repeat ['no-repeat']
/// @prop {string} $dvalues--set-initial.mask-size ['auto']
/// @prop {string} $dvalues--set-initial.mask-type ['luminance']
/// @prop {string} $dvalues--set-initial.max-height ['none']
/// @prop {string} $dvalues--set-initial.max-width ['none']
/// @prop {string} $dvalues--set-initial.mix-blend-mode ['normal']
/// @prop {string} $dvalues--set-initial.object-fit ['fill']
/// @prop {list} $dvalues--set-initial.object-position ['50% 50%']
/// @prop {number} $dvalues--set-initial.opacity ['1']
/// @prop {number} $dvalues--set-initial.order ['0']
/// @prop {number} $dvalues--set-initial.orphans ['2']
/// @prop {list} $dvalues--set-initial.outline ['medium none invert']
/// @prop {string} $dvalues--set-initial.outline-color ['invert']
/// @prop {number} $dvalues--set-initial.outline-offset ['0']
/// @prop {string} $dvalues--set-initial.outline-style ['none']
/// @prop {string} $dvalues--set-initial.outline-width ['medium']
/// @prop {string} $dvalues--set-initial.overflow ['visible']
/// @prop {string} $dvalues--set-initial.overflow-wrap ['normal']
/// @prop {string} $dvalues--set-initial.overflow-x ['visible']
/// @prop {string} $dvalues--set-initial.overflow-y ['visible']
/// @prop {number} $dvalues--set-initial.padding ['0']
/// @prop {number} $dvalues--set-initial.padding-block ['0']
/// @prop {number} $dvalues--set-initial.padding-block-end ['0']
/// @prop {number} $dvalues--set-initial.padding-block-start ['0']
/// @prop {number} $dvalues--set-initial.padding-bottom ['0']
/// @prop {number} $dvalues--set-initial.padding-inline ['0']
/// @prop {number} $dvalues--set-initial.padding-inline-end ['0']
/// @prop {number} $dvalues--set-initial.padding-inline-start ['0']
/// @prop {number} $dvalues--set-initial.padding-left ['0']
/// @prop {number} $dvalues--set-initial.padding-right ['0']
/// @prop {number} $dvalues--set-initial.padding-top ['0']
/// @prop {string} $dvalues--set-initial.page-break-after ['auto']
/// @prop {string} $dvalues--set-initial.page-break-before ['auto']
/// @prop {string} $dvalues--set-initial.page-break-inside ['auto']
/// @prop {string} $dvalues--set-initial.perspective ['none']
/// @prop {list} $dvalues--set-initial.perspective-origin ['50% 50%']
/// @prop {string} $dvalues--set-initial.place-content ['normal']
/// @prop {list} $dvalues--set-initial.place-items ['normal legacy']
/// @prop {string} $dvalues--set-initial.place-self ['auto']
/// @prop {string} $dvalues--set-initial.pointer-events ['auto']
/// @prop {string} $dvalues--set-initial.position ['static']
/// @prop {string} $dvalues--set-initial.quotes ['null']
/// @prop {string} $dvalues--set-initial.resize ['none']
/// @prop {string} $dvalues--set-initial.right ['auto']
/// @prop {string} $dvalues--set-initial.rotate ['none']
/// @prop {string} $dvalues--set-initial.row-gap ['normal']
/// @prop {string} $dvalues--set-initial.scale ['none']
/// @prop {string} $dvalues--set-initial.scroll-behavior ['auto']
/// @prop {number} $dvalues--set-initial.scroll-margin ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-block ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-block-end ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-block-start ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-bottom ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-inline ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-inline-end ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-inline-start: ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-left ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-right ['0']
/// @prop {number} $dvalues--set-initial.scroll-margin-top ['0']
/// @prop {string} $dvalues--set-initial.scroll-padding ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-block ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-block-end ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-block-start ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-bottom ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-inline ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-inline-end ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-inline-start ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-left ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-right ['auto']
/// @prop {string} $dvalues--set-initial.scroll-padding-top ['auto']
/// @prop {string} $dvalues--set-initial.scroll-snap-align ['none']
/// @prop {string} $dvalues--set-initial.scroll-snap-stop ['normal']
/// @prop {string} $dvalues--set-initial.scroll-snap-type ['none']
/// @prop {string} $dvalues--set-initial.scrollbar-color ['auto']
/// @prop {string} $dvalues--set-initial.scrollbar-width ['auto']
/// @prop {number} $dvalues--set-initial.shape-image-threshold ['0']
/// @prop {number} $dvalues--set-initial.shape-margin ['0']
/// @prop {string} $dvalues--set-initial.shape-outside ['none']
/// @prop {number} $dvalues--set-initial.tab-size ['8']
/// @prop {string} $dvalues--set-initial.table-layout ['auto']
/// @prop {string} $dvalues--set-initial.text-align ['left']
/// @prop {string} $dvalues--set-initial.text-align-last ['auto']
/// @prop {string} $dvalues--set-initial.text-combine-upright ['none']
/// @prop {list} $dvalues--set-initial.text-decoration ['none solid currentColor']
/// @prop {string} $dvalues--set-initial.text-decoration-color ['currentColor']
/// @prop {string} $dvalues--set-initial.text-decoration-line ['none']
/// @prop {string} $dvalues--set-initial.text-decoration-style ['solid']
/// @prop {list} $dvalues--set-initial.text-emphasis ['none currentcolor']
/// @prop {string} $dvalues--set-initial.text-emphasis-color ['currentColor']
/// @prop {list} $dvalues--set-initial.text-emphasis-position ['over right']
/// @prop {string} $dvalues--set-initial.text-emphasis-style ['none']
/// @prop {number} $dvalues--set-initial.text-indent ['0']
/// @prop {string} $dvalues--set-initial.text-justify ['auto']
/// @prop {string} $dvalues--set-initial.text-orientation ['mixed']
/// @prop {string} $dvalues--set-initial.text-overflow ['clip']
/// @prop {string} $dvalues--set-initial.text-rendering ['auto']
/// @prop {string} $dvalues--set-initial.text-shadow ['none']
/// @prop {string} $dvalues--set-initial.text-transform ['none']
/// @prop {string} $dvalues--set-initial.text-underline-position ['auto']
/// @prop {string} $dvalues--set-initial.top ['auto']
/// @prop {string} $dvalues--set-initial.touch-action ['auto']
/// @prop {string} $dvalues--set-initial.transform ['none']
/// @prop {string} $dvalues--set-initial.transform-box ['border-box']
/// @prop {list} $dvalues--set-initial.transform-origin ['50% 50% 0']
/// @prop {string} $dvalues--set-initial.transform-style ['flat']
/// @prop {list} $dvalues--set-initial.transition ['0s ease 0s']
/// @prop {time} $dvalues--set-initial.transition-delay ['0s']
/// @prop {time} $dvalues--set-initial.transition-duration ['0s']
/// @prop {string} $dvalues--set-initial.transition-property ['all']
/// @prop {string} $dvalues--set-initial.transition-timing-function ['ease']
/// @prop {string} $dvalues--set-initial.translate ['none']
/// @prop {string} $dvalues--set-initial.unicode-bidi ['normal']
/// @prop {string} $dvalues--set-initial.vertical-align ['baseline']
/// @prop {string} $dvalues--set-initial.visibility ['visible']
/// @prop {string} $dvalues--set-initial.white-space ['normal']
/// @prop {number} $dvalues--set-initial.widows ['2']
/// @prop {string} $dvalues--set-initial.width ['auto']
/// @prop {string} $dvalues--set-initial.will-change ['auto']
/// @prop {string} $dvalues--set-initial.word-break ['normal']
/// @prop {string} $dvalues--set-initial.word-spacing ['normal']
/// @prop {string} $dvalues--set-initial.word-wrap ['normal']
/// @prop {string} $dvalues--set-initial.writing-mode ['horizontal-tb']
/// @prop {string} $dvalues--set-initial.z-index ['auto']
$dvalues--set-initial: (
	'align-content': normal,
	'align-items': normal,
	'align-self': auto,
	'animation': none 0s ease 0s 1 normal none running,
	'animation-delay': 0s,
	'animation-direction': normal,
	'animation-duration': 0s,
	'animation-fill-mode': none,
	'animation-iteration-count': 1,
	'animation-name': none,
	'animation-play-state': running,
	'animation-timing-function': ease,
	'backface-visibility': visible,
	'background': transparent none repeat 0 0 / auto auto padding-box border-box scroll,
	'background-attachment': scroll,
	'background-blend-mode': normal,
	'background-clip': border-box,
	'background-color': transparent,
	'background-image': none,
	'background-origin': padding-box,
	'background-position': 0% 0%,
	'background-repeat': repeat,
	'background-size': auto auto,
	'block-size': auto,
	'border': medium none currentColor,
	'border-block': medium none currentColor,
	'border-block-color': currentColor,
	'border-block-end': medium none currentColor,
	'border-block-end-color': currentColor,
	'border-block-end-style': none,
	'border-block-end-width': medium,
	'border-block-start': medium none currentColor,
	'border-block-start-color': currentColor,
	'border-block-start-style': none,
	'border-block-start-width': medium,
	'border-block-style': none,
	'border-block-width': medium,
	'border-bottom': medium none currentColor,
	'border-bottom-color': currentColor,
	'border-bottom-left-radius': 0,
	'border-bottom-right-radius': 0,
	'border-bottom-style': none,
	'border-bottom-width': medium,
	'border-collapse': separate,
	'border-color': currentColor,
	'border-end-end-radius': 0,
	'border-end-start-radius': 0,
	'border-image': none 100% / 1 / 0 stretch,
	'border-image-outset': 0,
	'border-image-repeat': stretch,
	'border-image-slice': 100%,
	'border-image-source': none,
	'border-image-width': 1,
	'border-inline': medium none currentColor,
	'border-inline-color': currentColor,
	'border-inline-end': medium none currentColor,
	'border-inline-end-color': currentColor,
	'border-inline-end-style': none,
	'border-inline-end-width': medium,
	'border-inline-start': medium none currentColor,
	'border-inline-start-color': currentColor,
	'border-inline-start-style': none,
	'border-inline-start-width': medium,
	'border-inline-style': none,
	'border-inline-width': medium,
	'border-left': medium none currentColor,
	'border-left-color': currentColor,
	'border-left-style': none,
	'border-left-width': medium,
	'border-radius': 0,
	'border-right': medium none currentColor,
	'border-right-color': currentColor,
	'border-right-style': none,
	'border-right-width': medium,
	'border-spacing': 0,
	'border-start-end-radius': 0,
	'border-start-start-radius': 0,
	'border-style': none,
	'border-top': medium none currentColor,
	'border-top-color': currentColor,
	'border-top-left-radius': 0,
	'border-top-right-radius': 0,
	'border-top-style': none,
	'border-top-width': medium,
	'border-width': medium,
	'bottom': auto,
	'box-decoration-break': slice,
	'box-shadow': none,
	'box-sizing': content-box,
	'break-after': auto,
	'break-before': auto,
	'break-inside': auto,
	'caption-side': top,
	'caret-color': auto,
	'clear': none,
	'clip': auto,
	'clip-path': none,
	'color': null,
	'color-adjust': economy,
	'column-count': auto,
	'column-fill': balance,
	'column-gap': normal,
	'column-rule': medium none currentColor,
	'column-rule-color': currentColor,
	'column-rule-style': none,
	'column-rule-width': medium,
	'column-span': none,
	'column-width': auto,
	'columns': auto,
	'content': normal,
	'counter-increment': none,
	'counter-reset': none,
	'cursor': auto,
	'direction': ltr,
	'display': inline,
	'empty-cells': show,
	'filter': none,
	'flex': 0 1 auto,
	'flex-basis': auto,
	'flex-direction': row,
	'flex-flow': row nowrap,
	'flex-grow': 0,
	'flex-shrink': 1,
	'flex-wrap': nowrap,
	'float': none,
	'font': null,
	'font-family': null,
	'font-feature-settings': normal,
	'font-kerning': auto,
	'font-language-override': normal,
	'font-optical-sizing': auto,
	'font-size': medium,
	'font-size-adjust': none,
	'font-stretch': normal,
	'font-style': normal,
	'font-synthesis': weight style,
	'font-variant': normal,
	'font-variant-alternates': normal,
	'font-variant-caps': normal,
	'font-variant-east-asian': normal,
	'font-variant-ligatures': normal,
	'font-variant-numeric': normal,
	'font-variant-position': normal,
	'font-weight': normal,
	'gap': normal,
	'grid-area': auto,
	'grid-auto-columns': auto,
	'grid-auto-flow': row,
	'grid-auto-rows': auto,
	'grid-column': auto,
	'grid-column-end': auto,
	'grid-column-start': auto,
	'grid-gap': normal,
	'grid-row': auto,
	'grid-row-end': auto,
	'grid-row-start': auto,
	'grid-template': none,
	'grid-template-areas': none,
	'grid-template-columns': none,
	'grid-template-rows': none,
	'hanging-punctuation': none,
	'height': auto,
	'hyphens': manual,
	'image-orientation': 0deg,
	'image-rendering': auto,
	'inline-size': auto,
	'inset': auto,
	'inset-block': auto,
	'inset-block-end': auto,
	'inset-block-start': auto,
	'inset-inline': auto,
	'inset-inline-end': auto,
	'inset-inline-start': auto,
	'isolation': auto,
	'justify-content': normal,
	'justify-items': legacy,
	'justify-self': auto,
	'left': auto,
	'letter-spacing': normal,
	'line-break': auto,
	'line-height': normal,
	'list-style': disc none outside,
	'list-style-image': none,
	'list-style-position': outside,
	'list-style-type': disc,
	'margin': 0,
	'margin-block': 0,
	'margin-block-end': 0,
	'margin-block-start': 0,
	'margin-bottom': 0,
	'margin-inline': 0,
	'margin-inline-end': 0,
	'margin-inline-start': 0,
	'margin-left': 0,
	'margin-right': 0,
	'margin-top': 0,
	'mask': none center / auto no-repeat border-box add match-source,
	'mask-clip': border-box,
	'mask-composite': add,
	'mask-image': none,
	'mask-mode': match-source,
	'mask-origin': border-box,
	'mask-position': center,
	'mask-repeat': no-repeat,
	'mask-size': auto,
	'mask-type': luminance,
	'max-height': none,
	'max-width': none,
	'mix-blend-mode': normal,
	'object-fit': fill,
	'object-position': 50% 50%,
	'opacity': 1,
	'order': 0,
	'orphans': 2,
	'outline': medium none invert,
	'outline-color': invert,
	'outline-offset': 0,
	'outline-style': none,
	'outline-width': medium,
	'overflow': visible,
	'overflow-wrap': normal,
	'overflow-x': visible,
	'overflow-y': visible,
	'padding': 0,
	'padding-block': 0,
	'padding-block-end': 0,
	'padding-block-start': 0,
	'padding-bottom': 0,
	'padding-inline': 0,
	'padding-inline-end': 0,
	'padding-inline-start': 0,
	'padding-left': 0,
	'padding-right': 0,
	'padding-top': 0,
	'page-break-after': auto,
	'page-break-before': auto,
	'page-break-inside': auto,
	'perspective': none,
	'perspective-origin': 50% 50%,
	'place-content': normal,
	'place-items': normal legacy,
	'place-self': auto,
	'pointer-events': auto,
	'position': static,
	'quotes': null,
	'resize': none,
	'right': auto,
	'rotate': none,
	'row-gap': normal,
	'scale': none,
	'scroll-behavior': auto,
	'scroll-margin': 0,
	'scroll-margin-block': 0,
	'scroll-margin-block-end': 0,
	'scroll-margin-block-start': 0,
	'scroll-margin-bottom': 0,
	'scroll-margin-inline': 0,
	'scroll-margin-inline-end': 0,
	'scroll-margin-inline-start:': 0,
	'scroll-margin-left': 0,
	'scroll-margin-right': 0,
	'scroll-margin-top': 0,
	'scroll-padding': auto,
	'scroll-padding-block': auto,
	'scroll-padding-block-end': auto,
	'scroll-padding-block-start': auto,
	'scroll-padding-bottom': auto,
	'scroll-padding-inline': auto,
	'scroll-padding-inline-end': auto,
	'scroll-padding-inline-start': auto,
	'scroll-padding-left': auto,
	'scroll-padding-right': auto,
	'scroll-padding-top': auto,
	'scroll-snap-align': none,
	'scroll-snap-stop': normal,
	'scroll-snap-type': none,
	'scrollbar-color': auto,
	'scrollbar-width': auto,
	'shape-image-threshold': 0,
	'shape-margin': 0,
	'shape-outside': none,
	'tab-size': 8,
	'table-layout': auto,
	'text-align': left,
	'text-align-last': auto,
	'text-combine-upright': none,
	'text-decoration': none solid currentColor,
	'text-decoration-color': currentColor,
	'text-decoration-line': none,
	'text-decoration-style': solid,
	'text-emphasis': none currentcolor,
	'text-emphasis-color': currentColor,
	'text-emphasis-position': over right,
	'text-emphasis-style': none,
	'text-indent': 0,
	'text-justify': auto,
	'text-orientation': mixed,
	'text-overflow': clip,
	'text-rendering': auto,
	'text-shadow': none,
	'text-transform': none,
	'text-underline-position': auto,
	'top': auto,
	'touch-action': auto,
	'transform': none,
	'transform-box': border-box,
	'transform-origin': 50% 50% 0,
	'transform-style': flat,
	'transition': 0s ease 0s,
	'transition-delay': 0s,
	'transition-duration': 0s,
	'transition-property': all,
	'transition-timing-function': ease,
	'translate': none,
	'unicode-bidi': normal,
	'vertical-align': baseline,
	'visibility': visible,
	'white-space': normal,
	'widows': 2,
	'width': auto,
	'will-change': auto,
	'word-break': normal,
	'word-spacing': normal,
	'word-wrap': normal,
	'writing-mode': horizontal-tb,
	'z-index': auto,
) !default;
