/// @name dvalues--grid-columns
/// @group default-values
/// @since 8.1.1
/// @access public
/// @type number
$dvalues--grid-columns: 12 !default;

/// @name dvalues--grid-gutter-width
/// @group default-values
/// @since 8.1.1
/// @access public
/// @type number
$dvalues--grid-gutter-width: 30px !default;

/// @name dvalues--grid-row-columns
/// @group default-values
/// @since 8.1.1
/// @access public
/// @type number
$dvalues--grid-row-columns: 6 !default;

/// @name dvalues--justify-content
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--justify-content: flex-start !default;

/// @name dvalues--align-items
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--align-items: auto !default;

/// @name dvalues--align-items
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--align-items: stretch !default;

/// @name dvalues--align-content
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--align-content: stretch !default;

/// @name dvalues--flexbox
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--flexbox: 'default' !default;

/// @name dvalues--flex-wrap
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--flex-wrap: nowrap !default;

/// @name dvalues--flex-shrink
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--flex-shrink: 1 !default;

/// @name dvalues--flex-grow
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--flex-grow: 0 !default;

/// @name dvalues--flex-flow
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--flex-flow: (row nowrap) !default;

/// @name dvalues--flex-direction
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--flex-direction: row !default;

/// @name dvalues--flex-basis
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--flex-basis: auto !default;

/// @name dvalues--text-shorten
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--text-shorten: none !default;

/// @name dvalues--illogical-usage-message_mode
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type list
$dvalues--illogical-usage-message_mode: 'console', 'comment' !default;

/// @name dvalues--line-clamp
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--line-clamp: none !default;

/// @name dvalues--box-sizing
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--box-sizing: content-box !default;

/// @name dvalues--media-prefers-contrast
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--media-prefers-contrast: no-preference !default;

/// @name dvalues--transform-style
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--transform-style: flat !default;

/// @name dvalues--transform-origin_x
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--transform-origin_x: 50% !default;

/// @name dvalues--transform-origin_y
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--transform-origin_y: 50% !default;

/// @name dvalues--transform-origin_z
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--transform-origin_z: 0 !default;

/// @name dvalues--transition-timing-function
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--transition-timing-function: ease !default;

/// @name dvalues--transition-property
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--transition-property: all !default;

/// @name dvalues--transition-duration
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--transition-duration: 0s !default;

/// @name dvalues--transition-delay
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--transition-delay: 0s !default;

/// С этой переменной сложились проблемы, т.к. непонятно
/// как быть с тем, что миксин принимает в качестве функции
/// множественный аргумент (или как он там называется) и написать
/// что-то типа `$params...: $dvalues--transition` не получится.
///
/// Я попробую в будущем это как-то решить, но пока эта
/// переменная не работает.
/// ---
/// @ignore
/// @name dvalues--transition
/// @group default-values
/// @since 8.0.0
/// @access private
/// @type list
$-dvalues--transition: all 0s ease 0s !default;

/// Значение по умолчанию для миксина `opacity`. Значение регулирует
/// поддержку CSS-свойства `opacity` для браузера Internet Explorer.
/// ---
/// @name dvalues--border-radius
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--border-radius: 0 !default;

/// Значение по умолчанию для CSS-свойства `position`
/// ---
/// @name dvalues--position
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--position: static !default;

/// Значение `$side` для миксина `position-sticky`
/// ---
/// @name dvalues--position-sticky__side
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--position-sticky__side: top !default;

/// Значение `$side-offset` для миксина `position-sticky`
/// ---
/// @name dvalues--position-sticky__side-offset
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--position-sticky__side-offset: 0 !default;

/// Значение по умолчанию для CSS-свойства `tab-size`
/// ---
/// @name dvalues--tab-size
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--tab-size: 8 !default;

/// Размер блока для миксина `visually-hidden`
/// ---
/// @name dvalues--visually-hidden__size
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type number
$dvalues--visually-hidden__size: 1px !default;

/// Режим работы миксина `size`
/// ---
/// @name dvalues--size__mode
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--size__mode: normal !default;

/// Значение CSS-свойства `user-select` по умолчанию
/// ---
/// @name dvalues--user-select
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--user-select: auto !default;

/// Префикс для атрибута
/// ---
/// @name dvalues--amcss__prefix
/// @group default-values
/// @since 8.0.0
/// @access public
/// @type string
$dvalues--amcss__prefix: 'am-' !default;
