/// @name $str--emoji_error [🟥]
/// @since 7.0.0
/// @access public
/// @type String
$str--emoji_error: '🟥' !default;

/// @name $str--emoji_warning [🟧]
/// @since 7.0.0
/// @access public
/// @type String
$str--emoji_warning: '🟧' !default;

/// @name $str--emoji_info [🟦]
/// @since 7.0.0
/// @access public
/// @type String
$str--emoji_info: '🟦' !default;

/// @name $str--emoji_success [🟩]
/// @since 7.0.0
/// @access public
/// @type String
$str--emoji_success: '🟩' !default;

/// @name $str--emoji_debug [⬜]
/// @since 7.0.0
/// @access public
/// @type String
$str--emoji_debug: '⬜' !default;
