@use '../../../config' as config;
@use '../../../devpack/invalid-value-message' as *;
@use '../../utility/validator/is-list-contains' as *;
@use '../../prefixer' as *;

/// Миксин `position` позволяет указать тип позиционирования
/// одной строкой.
/// ---
/// @name position
/// @group core-cssex
/// @since 8.0.0
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @link https://github.com/therteenten/sassify/blob/main/core/cssex/position/_index.scss Исходный код миксина
/// @example scss Пример использования в Sass (SCSS)
/// 	.block-absolute {
/// 		@include position(relative, 40px, 40px);
/// 	}
///
/// 	.block-relative {
/// 		@include position(relative, 40px, null, null, 40px);
/// 	}
///
/// 	.block-static {
/// 		@include position(static);
/// 	}
///
/// 	.block-sticky {
/// 		@include position(sticky, 20px);
/// 	}
/// @example css Результат работы миксина в CSS
/// 	.block-absolute {
/// 		position: relative;
/// 		top: 40px;
/// 		right: 40px;
/// 	}
///
/// 	.block-relative {
/// 		position: relative;
/// 		top: 40px;
/// 		left: 40px;
/// 	}
///
/// 	.block-static {
/// 		position: static;
/// 	}
///
/// 	.block-sticky {
/// 		position: -webkit-sticky;
/// 		position: sticky;
/// 		top: 20px;
/// 	}
/// @param {string} $position [config.$dvalues--position] - тип позиционирования
/// @param {string | number} $side-top [null] - конечное местоположение элемента
/// 	относительно верхней стенки
/// @param {string | number} $side-right [null] - конечное местоположение элемента
/// 	относительно правой стенки
/// @param {string | number} $side-bottom [null] - конечное местоположение элемента
/// 	относительно низа
/// @param {string | number} $side-left [null] - конечное местоположение элемента
/// 	относительно левой стенки
@mixin position(
	$position: config.$dvalues--position,
	$side-top: null,
	$side-right: null,
	$side-bottom: null,
	$side-left: null) {

	// С помощью функции `is-list-contains` проверяем
	// наличие значения `$position` в списке `config.$vvalues--position`:
	@if is-list-contains(config.$vvalues--position, $position) {

		// Если значение из `$position` есть в
		// списке `config.$vvalues--position`,
		// то присваиваем CSS-свойству `position` значение
		// из параметра `$position`:
		@if $position == sticky {

			// > Если значение `$position` равно `sticky`,
			// > то добавляем к значению браузерный префикс
			// > с помощью миксина `prefixer`.
			@include prefixer(
				position,
				sticky,
				config.$prefixes--position-sticky,
				true,
				true
			);

		} @else {
			position: $position;
		}

	}

	// Если значения из параметра `$position` нет в списке `$position` в
	// списке `config.$vvalues--position`, то отображаем сообщение об этом:
	@else {
		@include invalid-value-message('position', $position, config.$vvalues--position);
	}

	top: $side-top;
	right: $side-right;
	bottom: $side-bottom;
	left: $side-left;

}
