@use 'sass:math';
@use '../../../../config' as config;

/// @name make-col-ready
/// @group grid
/// @since 8.1.1
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/main/common/grid Sassify Grid GitHub
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @param {number} $gutter [config.$dvalues--grid-gutter-width]
@mixin make-col-ready($gutter: config.$dvalues--grid-gutter-width) {

  position: relative;

  // Чтобы столбцы не становились слишком узкими на меньших
	// уровнях сетки, всегда устанавливайте значение `width: 100%;`.
	// Это работает, потому что позже мы используем значения `flex`,
	// чтобы переопределить эту начальную ширину.
  width: 100%;

  padding-right: $gutter * .5;
  padding-left: $gutter * .5;

}
