@use '../config' as *;
@use 'sass:math';

@mixin make-row($gutter: $dvalues--grid-v4-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter * .5;
  margin-left: -$gutter * .5;
}
