@use '../config' as *;
@use 'sass:math';

@mixin make-container($gutter: $dvalues--grid-v4-gutter-width) {
  width: 100%;
  padding-right: $gutter * .5;
  padding-left: $gutter * .5;
  margin-right: auto;
  margin-left: auto;
}
