@use '../../../config' as config;
@use '../../cssex/size' as *;

/// Миксин `visually-hidden` скрывает HTML-элемент со
/// страницы.
/// ---
/// @name visually-hidden
/// @group CSSex
/// @since 7.0.0
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @link https://github.com/therteenten/sassify/blob/develop/core/cssex/visually-hidden/_index.scss Исходный код миксина
/// @example scss Пример использования в Sass (SCSS)
/// 	.hide {
/// 		@include visually-hidden();
/// 	}
/// @example css Результат в CSS
/// 	.hide {
/// 		border: 0;
/// 		clip: rect(0 0 0 0);
/// 		margin: -1px;
/// 		overflow: hidden;
/// 		padding: 0;
/// 		position: absolute;
/// 		width: 1px;
/// 		height: 1px;
/// 	}
/// @param {number} $size [config.$dvalues--visually-hidden__size] - размер скрываемого блока
@mixin visually-hidden($size: config.$dvalues--visually-hidden__size) {

	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;

	@include size($size);

}
