@use "sass:math";

/// @name make-col
/// @group grid-v3
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v3.3.6/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @param {number} $size
/// @param {number} $columns [$dvalues--grid-v3-columns]
@mixin make-col(
	$size,
	$columns: $dvalues--grid-v3-columns) {

	flex: 0 0 percentage(math.div($size, $columns));

	// Add a `max-width` to ensure content within each column does not blow out
	// the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
	// do not appear to require this.
	max-width: percentage(math.div($size, $columns));

}
