/// @name color--watchos
/// @group color-palette
/// @since 8.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type map
/// @prop {color} $color--watchos.red [#ff0000]
/// @prop {color} $color--watchos.orange [#ff9500]
/// @prop {color} $color--watchos.yellow [#fcf717]
/// @prop {color} $color--watchos.green [#00f47a]
/// @prop {color} $color--watchos.mint [#04dbd2]
/// @prop {color} $color--watchos.teal [#46c4de]
/// @prop {color} $color--watchos.cyan [#2cc2fc]
/// @prop {color} $color--watchos.blue [#2078fb]
/// @prop {color} $color--watchos.indigo [#8e33ff]
/// @prop {color} $color--watchos.purple [#da00f0]
/// @prop {color} $color--watchos.pink [#ff0038]
/// @prop {color} $color--watchos.brown [#b09166]
/// @prop {color} $color--watchos.gray [#9b9eaa]
$color--watchos: (
	red: #ff0000,
	orange: #ff9500,
	yellow: #fcf717,
	green: #00f47a,
	mint: #04dbd2,
	teal: #46c4de,
	cyan: #2cc2fc,
	blue: #2078fb,
	indigo: #8e33ff,
	purple: #da00f0,
	pink: #ff0038,
	brown: #b09166,
	gray: #9b9eaa
);
