/// @name helper--input-type
/// @group Helpers
/// @since 7.0.0
/// @access public
/// @type map
/// @prop {string} $helper--input-type.button [type='button']
/// @prop {string} $helper--input-type.checkbox [type='checkbox']
/// @prop {string} $helper--input-type.color [type='color']
/// @prop {string} $helper--input-type.date [type='date']
/// @prop {string} $helper--input-type.datetime-local: [type='datetime-local']
/// @prop {string} $helper--input-type.email [type='email']
/// @prop {string} $helper--input-type.file [type='file']
/// @prop {string} $helper--input-type.hidden [type='hidden']
/// @prop {string} $helper--input-type.image [type='image']
/// @prop {string} $helper--input-type.month [type='month']
/// @prop {string} $helper--input-type.number [type='number']
/// @prop {string} $helper--input-type.password [type='password']
/// @prop {string} $helper--input-type.radio [type='radio']
/// @prop {string} $helper--input-type.range [type='range']
/// @prop {string} $helper--input-type.reset [type='reset']
/// @prop {string} $helper--input-type.search [type='search']
/// @prop {string} $helper--input-type.submit [type='submit']
/// @prop {string} $helper--input-type.tel [type='tel']
/// @prop {string} $helper--input-type.text [type='text']
/// @prop {string} $helper--input-type.time [type='time']
/// @prop {string} $helper--input-type.url [type='url']
/// @prop {string} $helper--input-type.week [type='week']
$helper--input-type: (
	button: "[type='button']",
	checkbox: "[type='checkbox']",
	color: "[type='color']",
	date: "[type='date']",
	datetime-local: "[type='datetime-local']",
	email: "[type='email']",
	file: "[type='file']",
	hidden: "[type='hidden']",
	image: "[type='image']",
	month: "[type='month']",
	number: "[type='number']",
	password: "[type='password']",
	radio: "[type='radio']",
	range: "[type='range']",
	reset: "[type='reset']",
	search: "[type='search']",
	submit: "[type='submit']",
	tel: "[type='tel']",
	text: "[type='text']",
	time: "[type='time']",
	url: "[type='url']",
	week: "[type='week']"
);



