
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.


$dvalues--grid-v4-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$dvalues--grid-v4-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$dvalues--grid-v4-columns:                12 !default;
$dvalues--grid-v4-gutter-width:           30px !default;
$dvalues--grid-v4-row-columns:            6 !default;
$dvalues--grid-v4-create-class__no-gutters: true;
$dvalues--grid-v4-minimal-reset: false;
