@use 'config' as config;
@use '../../../core/cssex/box-sizing' as *;

@use 'mixin/assert-ascending' as *;
@use 'mixin/assert-starts-at-zero' as *;
@use 'mixin/make-container' as *;
@use 'mixin/make-row' as *;
@use 'mixin/make-grid-columns' as *;
@use 'mixin/make-container' as *;
@use 'mixin/make-container' as *;
@use 'mixin/media-breakpoint-up' as *;

@use 'function/breakpoint-infix' as *;
@use 'function/divide' as *;

/// Миксин `make-grid-v4` позволяет сгенерировать сетку Bootstrap Grid,
/// написанную на Sass. По умолчанию используется 12-ти колононая
/// система.
/// ---
/// @name make-grid-v4
/// @group grid-v4
/// @since 8.1.0
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v4.6.2/_index.scss Исходный код миксина
/// @example scss Пример использования в Sass (SCSS)
/// 	@include make-grid-v4();
/// @example css Результат работы миксина в CSS
/// 	/* ... очень много CSS-кода */
/// @param {boolean} $write-copyright [true] - параметр отвечает за
/// 	генерацию CSS-комментария с копирайтом проекта Bootstrap.
@mixin make-grid-v4($write-copyright: true) {

	// Генерация CSS-комментария с копирайтом проекта
	// Bootstrap:
	@if $write-copyright == true {
		/*!
		 * Bootstrap Grid v4.6.2 (https://getbootstrap.com/)
		 * Copyright 2011-2022 The Bootstrap Authors
		 * Copyright 2023 Haba Kudzaev (therteenten), The Sassify Project
		 * Copyright 2011-2022 Twitter, Inc.
		 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
		 */
	}

	// Минимальный ресет:
	@include -minimal-reset();

	@include -create-container();
	@include -create-row();

	@include make-grid-columns();
	@include assert-ascending(config.$dvalues--grid-v4-breakpoints, "config.$dvalues--grid-v4-breakpoints");
	@include assert-ascending(config.$dvalues--grid-v4-container-max-widths, "config.$dvalues--grid-v4-container-max-widths");
	@include assert-starts-at-zero(config.$dvalues--grid-v4-breakpoints, "config.$dvalues--grid-v4-breakpoints");

}

/// @name -create-container
/// @group grid-v4
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v4.6.2/_index.scss Исходный код миксина
@mixin -create-container() {

	// Класс одиночного контейнера с максимальной
	/// шириной точки останова
	.container,
	// Контейнер шириной 100% во всех точках останова
	.container-fluid {
		@include make-container();
	}

	// Адаптивные контейнеры шириной 100% до точки останова
	@each $-breakpoint, $-container-max-width in config.$dvalues--grid-v4-container-max-widths {

		.container-#{$-breakpoint} {
			@extend .container-fluid;
		}

		@include media-breakpoint-up($-breakpoint, config.$dvalues--grid-v4-breakpoints) {

			%responsive-container-#{$-breakpoint} {
				max-width: $-container-max-width;
			}

			// Расширьте каждую точку останова, которая
			// меньше или равна текущей точке останова:
			$-extend-breakpoint: true;

			@each $-name, $-width in config.$dvalues--grid-v4-breakpoints {

				@if ($-extend-breakpoint) {

					.container#{breakpoint-infix($-name, config.$dvalues--grid-v4-breakpoints)} {
						@extend %responsive-container-#{$-breakpoint};
					}

					// Как только текущая точка останова будет
					// достигнута, прекратите расширение:
					@if ($-breakpoint == $-name) {
						$-extend-breakpoint: false;
					}

				}

			}

		}

	}

}

/// @name -create-row
/// @group grid-v4
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v4.6.2/_index.scss Исходный код миксина
@mixin -create-row() {
	.row {
    @include make-row();
		@include -create-no-gutters();
  }
}

/// Миксин генерирует ну очень простой ресет.
/// ---
/// @name -minimal-reset
/// @group grid-v4
/// @since 8.1.0
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v4.6.2/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
@mixin -minimal-reset() {
	@if config.$dvalues--grid-v4-minimal-reset == true {
		*,
		*::before,
		*::after {
			padding: 0;
			margin: 0;
			@include box-sizing(border-box);
		}
	}
}

/// Микисн `-create-no-gutters` генерирует CSS-классы
/// `no-gutters`.
/// ---
/// @name -create-no-gutters
/// @group grid-v4
/// @since 8.1.1
/// @access private
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify/blob/develop/common/grid/v4.3.6/_index.scss Исходный код миксина
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
@mixin -create-no-gutters() {

	@if config.$dvalues--grid-v4-create-class__no-gutters == true {

		// Удалите отрицательное поле из `.row`, затем горизонтальное
		// заполнение из всех непосредственных дочерних столбцов (чтобы
		// предотвратить наследование безудержного стиля):
		.no-gutters {
			margin-right: 0;
			margin-left: 0;

			> .col,
			> [class*="col-"] {
				padding-right: 0;
				padding-left: 0;
			}

		}

	}

}
